<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
</head>

<body>
<div th:replace="fragments/nav :: navigation"></div>
<main class="container">
    <div class="row">
        <div class="col-sm-4" th:each="card : ${cards}">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title" th:text="${card.title}"></h2>
                    <p class="card-text" th:text="${card.content}"></p>
                    <a th:href="${'/cardEdit/' + card.id}" class="card-link">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <div th:if="deck" class="modal fade" id="newCard" tabindex="-1" role="dialog" aria-labelledby="newCardLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCardLabel">New Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addCard" method="post" th:action="'/deck/' + ${deck.id}">
                        <input type="hidden" id="deckId" name="deckId" th:data="${deck.id}">
                        <div class="form-group">
                            <label for="title">Card Title</label>
                            <input id="title" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea id="content" name="content" class="form-control" rows="5"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="addCardSubmit" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div></main>
<div th:replace="fragments/footer :: footer-scripts"></div>
<div th:replace="fragments/deckjs :: deck-scripts"></div>
</body>
</html>
